<footer xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="footer-wrappper footer-bg">
        <!-- Footer Start -->
        <div class="footer-area footer-padding">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-xl-4 col-lg-5 col-md-4 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <div class="single-footer-caption mb-30">
                                <!-- logo -->
                                <div class="footer-logo mb-25">
                                    <a href="/index"><img alt="LangForU Logo" src="/img/logo/logo2_footer.png"></a>
                                </div>
                                <div class="footer-tittle">
                                    <div class="footer-pera">
                                        <p>Добре дошли в LangForU - Вашето място за качествени езикови курсове и сертификации.</p>
                                    </div>
                                </div>
                                <!-- social -->
                                <div class="footer-social">
                                    <a href="https://twitter.com/langforu" target="_blank"
                                       title="Следвайте ни в Twitter"><i class="fab fa-twitter"></i></a>
                                    <a href="https://www.facebook.com/langforu" target="_blank"
                                       title="Следвайте ни във Facebook"><i class="fab fa-facebook-f"></i></a>
                                    <a href="https://www.pinterest.com/langforu" target="_blank"
                                       title="Следвайте ни в Pinterest"><i class="fab fa-pinterest-p"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-5">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Нашите курсове</h4>
                                <ul>
                                    <li><a th:href="@{/course}">Английски</a></li>
                                    <li><a th:href="@{/course}">Немски</a></li>
                                    <li><a th:href="@{/course}">Италиански</a></li>
                                    <li><a th:href="@{/course}">Испански</a></li>
                                    <li><a th:href="@{/course}">Руски</a></li>
                                    <li><a th:href="@{/course}">Японски</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Помощ и Поддръжка</h4>
                                <ul>
                                    <li><a th:href="@{/contact}">Контакти</a></li>
                                    <li><a th:href="@{/terms}">Общи условия</a></li>
                                    <li><a th:href="@{/about}">За нас</a></li>
                                    <li><a th:href="@{/blog}">Блог</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Scroll Up -->
<div id="back-top">
    <a href="#" title="Go to Top"> <i class="fas fa-level-up-alt"></i></a>
</div>
<!-- JS here -->
