<!-- Jquery (Choose one version only, here we use the CDN version) -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Popper, Bootstrap (These should come after jQuery) -->
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

<!-- Plugins -->
<script src="/js/jquery.slicknav.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/slick.min.js"></script>
<script src="/js/wow.min.js"></script>
<script src="/js/animated.headline.js"></script>
<script src="/js/jquery.magnific-popup.js"></script>
<script src="/js/gijgo.min.js"></script>
<script src="/js/jquery.nice-select.min.js"></script>
<script src="/js/jquery.sticky.js"></script>
<script src="/js/jquery.counterup.min.js"></script>
<script src="/js/waypoints.min.js"></script>
<script src="/js/jquery.countdown.min.js"></script>
<script src="/js/hover-direction-snake.min.js"></script>

<!-- Contact and Validation Plugins -->
<script src="/js/jquery.form.js"></script>
<script src="/js/jquery.validate.min.js"></script>

<!-- Custom Scripts -->
<script src="/js/mail-script.js"></script>
<script src="/js/jquery.ajaxchimp.min.js"></script>
<script src="/js/plugins.js"></script>
<script src="/js/main.js"></script>

<!-- jQuery UI (If needed) -->
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
