<!DOCTYPE html>
<html class="no-js" lang="zxx" xmlns="http://www.w3.org/1999/html"
      xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <title>LangForU | Начало</title>
    <meta content="" name="description">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="site.webmanifest" rel="manifest">
    <link href="img/logo/logo.ico" rel="shortcut icon" type="image/x-icon">

    <!-- CSS here -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/owl.carousel.min.css" rel="stylesheet">
    <link href="css/slicknav.css" rel="stylesheet">
    <link href="css/flaticon.css" rel="stylesheet">
    <link href="css/progressbar_barfiller.css" rel="stylesheet">
    <link href="css/gijgo.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/animated-headline.css" rel="stylesheet">
    <link href="css/magnific-popup.css" rel="stylesheet">
    <link href="css/fontawesome-all.min.css" rel="stylesheet">
    <link href="css/themify-icons.css" rel="stylesheet">
    <link href="css/slick.css" rel="stylesheet">
    <link href="css/nice-select.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

</head>

<body>
<!-- ? Preloader Start -->
<div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
            <div class="preloader-circle"></div>
            <div class="preloader-img pere-text">
                <img alt="" src="/img/logo/loder_black.png">
            </div>
        </div>
    </div>
</div>
<!-- Preloader Start -->

<!-- Header Start -->
<header th:replace="~{fragments/navigation}"></header>
<!-- Header End -->

<main>
    <!--? slider Area Start-->
    <section class="slider-area ">
        <div class="slider-active">
            <!-- Single Slider -->
            <div class="single-slider slider-height d-flex align-items-center">
                <div class="container" style="padding-bottom: 150px;">
                    <div class="row">
                        <div class="col-xl-6 col-lg-7 col-md-12">
                            <div class="hero__caption">
                                <h1 class="" data-animation="fadeInLeft" data-delay="0.2s"
                                    style="animation-delay: 0.2s;">LangForU</h1>
                                <p class="" data-animation="fadeInLeft" data-delay="0.4s"
                                   style="animation-delay: 0.4s;">Овладейте нови езици с нашите
                                    специализирани курсове и получите международно признати сертификати и дипломи
                                </p>
                                <a class="btn hero-btn" data-animation="fadeInLeft"
                                   data-delay="0.7s" style="animation-delay: 0.7s;" tabindex="0"
                                   th:href="${isAuthenticated ? '/courses' : '/register'}">
                                    Започнете с безплатен курс
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ? services-area -->
    <header th:replace="~{fragments/servicesArea}"></header>
    <!-- services-area End -->

    <!-- Courses area start -->
    <header th:replace="~{fragments/coursesList}"></header>
    <!-- Courses area End -->

    <!--? About Area-1 Start -->
    <div class="container">
        <div class="row">
            <section class="about-area1 fix pt-10">
                <div class="support-wrapper align-items-center">
                    <div class="left-content1">
                        <div class="about-icon">
                            <img alt="За нас" src="img/icon/about.svg">
                        </div>
                        <!-- section title -->
                        <div class="section-title section-title2 mb-55">
                            <div class="front-text">
                                <h2>Запознай се със Севи!</h2>
                                <p>"Севи" е нашата интелигентна асистентка, която ще ти помогне да учиш нови езици по лесен и забавен начин. С нейна помощ ще можеш да усвояваш чужди езици чрез интерактивни упражнения, видео уроци и много други ресурси.</p>
                            </div>
                        </div>

                        <div class="single-features">
                            <div class="features-icon">
                                <img alt="" src="img/icon/right-icon.svg">
                            </div>
                            <div class="features-caption">
                                <p>Персонализирани упражнения</p>
                            </div>
                        </div>
                        <div class="single-features">
                            <div class="features-icon">
                                <img alt="" src="img/icon/right-icon.svg">
                            </div>
                            <div class="features-caption">
                                <p>Бързо развиваща се общност</p>
                            </div>
                        </div>
                        <div class="single-features">
                            <div class="features-icon">
                                <img alt="" src="img/icon/right-icon.svg">
                            </div>
                            <div class="features-caption">
                                <p>Индивидуални насоки</p>
                            </div>
                        </div>
                    </div>
                    <div class="right-content1">
                        <!-- img -->
                        <div class="right-img">
                            <img alt="" src="img/Sevi/Sevi - XL.png">
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- About Area End -->

    <!-- Top Subjects Area Start -->
    <div class="topic-area section-padding40">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-7 col-lg-8">
                    <div class="section-tittle text-center mb-55">
                        <h2>Разгледайте нашите курсове</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- English Language -->
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="single-topic text-center mb-30">
                        <div class="topic-img">
                            <a href="/courses?searchLanguage=Английски" id="english-course-link">
                                <img alt="Английски език" src="img/gallery/Flag_of_the_United_Kingdom.png">
                                <div class="topic-content-box">
                                    <div class="topic-content">
                                        <p>Английски език</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- German Language -->
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="single-topic text-center mb-30">
                        <div class="topic-img">
                            <a href="/courses?searchLanguage=Немски" id="german-course-link">
                                <img alt="Немски език" src="img/gallery/Flag_of_the_Germany.png">
                                <div class="topic-content-box">
                                    <div class="topic-content">
                                        <p>Немски език</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- Italian Language -->
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="single-topic text-center mb-30">
                        <div class="topic-img">
                            <a href="/courses?searchLanguage=Италиански" id="italian-course-link">
                                <img alt="Италиански език" src="img/gallery/Flag_of_Italy.png">
                                <div class="topic-content-box">
                                    <div class="topic-content">
                                        <p>Италиански език</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- Spanish Language -->
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="single-topic text-center mb-30">
                        <div class="topic-img">
                            <a href="/courses?searchLanguage=Испански" id="spanish-course-link">
                                <img alt="Испански език" src="img/gallery/Flag_of_Spain.png">
                                <div class="topic-content-box">
                                    <div class="topic-content">
                                        <p>Испански език</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- Russian Language -->
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="single-topic text-center mb-30">
                        <div class="topic-img">
                            <a href="/courses?searchLanguage=Руски" id="russian-course-link">
                                <img alt="Руски език" src="img/gallery/Flag_of_the_Russia.png">
                                <div class="topic-content-box">
                                    <div class="topic-content">
                                        <p>Руски език</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- Japanese Language -->
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="single-topic text-center mb-30">
                        <div class="topic-img">
                            <a href="/courses?searchLanguage=Японски" id="japanese-course-link">
                                <img alt="Японски език" src="img/gallery/Flag_of_Japan.svg.png">
                                <div class="topic-content-box">
                                    <div class="topic-content">
                                        <p>Японски език</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-xl-12">
                    <div class="section-tittle text-center mt-20">
                        <a class="border-btn" href="/courses">Вижте още курсове</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Top Subjects End -->


    <!--? About Area-3 Start -->
    <div class="container">
        <div class="row">
            <section class="about-area3 fix">
                <div class="support-wrapper align-items-center">
                    <div class="right-content3">
                        <!-- img -->
                        <div class="right-img">
                            <img alt="" src="img/gallery/about3.png">
                        </div>
                    </div>
                    <div class="left-content3">
                        <!-- section tittle -->
                        <div class="section-tittle section-tittle2 mb-20">
                            <div class="front-text">
                                <h2 class="">Резултати от обучението в нашите курсове</h2>
                            </div>
                        </div>
                        <div class="single-features">
                            <div class="features-icon">
                                <img alt="" src="img/icon/right-icon.svg">
                            </div>
                            <div class="features-caption">
                                <p>Развийте умения за ефективно общуване на нов език.</p>
                            </div>
                        </div>
                        <div class="single-features">
                            <div class="features-icon">
                                <img alt="" src="img/icon/right-icon.svg">
                            </div>
                            <div class="features-caption">
                                <p>Присъединете се към общността от хора по целия свят, които учат нови езици
                                    заедно.</p>
                            </div>
                        </div>
                        <div class="single-features">
                            <div class="features-icon">
                                <img alt="" src="img/icon/right-icon.svg">
                            </div>
                            <div class="features-caption">
                                <p>Нашите курсове са проектирани така, че онлайн обучението да бъде лесно и
                                    естествено.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</main>


<!-- Scroll Up -->
<div id="back-top">
    <a href="#" title="Go to Top"> <i class="fas fa-level-up-alt"></i></a>
</div>

<!-- JS here -->
<script th:replace="~{fragments/script}"></script>


<!-- Footer Start -->
<script th:replace="~{fragments/footer}"></script>
<!-- Footer End -->

</body>

</html>