<!DOCTYPE html>
<html class="no-js" lang="zxx" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <title>LangForU | За Севи</title>
    <meta content="" name="description">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="site.webmanifest" rel="manifest">
    <link href="img/logo/logo.ico" rel="shortcut icon" type="image/x-icon">

    <!-- CSS here -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/owl.carousel.min.css" rel="stylesheet">
    <link href="css/slicknav.css" rel="stylesheet">
    <link href="css/flaticon.css" rel="stylesheet">
    <link href="css/progressbar_barfiller.css" rel="stylesheet">
    <link href="css/gijgo.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/animated-headline.css" rel="stylesheet">
    <link href="css/magnific-popup.css" rel="stylesheet">
    <link href="css/fontawesome-all.min.css" rel="stylesheet">
    <link href="css/themify-icons.css" rel="stylesheet">
    <link href="css/slick.css" rel="stylesheet">
    <link href="css/nice-select.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
<!-- ? Preloader Start -->
<div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
            <div class="preloader-circle"></div>
            <div class="preloader-img pere-text">
                <img alt="" src="/img/logo/loder_black.png">
            </div>
        </div>
    </div>
</div>
<!-- Preloader Start -->
<!-- Header Start -->

<header th:replace="~{fragments/navigation}"></header>

<main>
    <!-- Slider Area Start -->
    <section class="slider-area slider-area2">
        <div class="slider-active">
            <!-- Single Slider -->
            <div class="single-slider slider-height2">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-8 col-lg-11 col-md-12">
                            <div class="hero__caption hero__caption2">
                                <h1 data-animation="bounceIn" data-delay="0.2s">За Севи</h1>
                                <!-- Breadcrumb Start -->
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/index">Начало</a></li>
                                        <li class="breadcrumb-item"><a href="/Sevi">За Севи</a></li>
                                    </ol>
                                </nav>
                                <!-- Breadcrumb End -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Slider Area End -->

    <!--? About Area-1 Start -->
    <div class="container">
        <div class="row">
            <section class="about-area1 fix pt-10">
                <div class="support-wrapper align-items-center mt-50 mb-30 mb-55">
                    <div class="left-content1">
                        <!-- section tittle -->
                        <div class="section-tittle section-tittle2">
                            <div class="front-text">
                                <h2 class="">Севи – Вашата виртуална асистентка</h2>
                                <p>LangForU е платформа, създадена специално за българи, които искат да овладеят нови
                                    езици като
                                    английски, испански, италиански, японски, немски и руски. Когато се запишете за
                                    платен курс (с
                                    изключение на безплатните), ще откриете и вашия личен виртуален асистент – Севи.
                                    Севи е не просто обикновен асистент – тя е тук, за да ви води през всяка стъпка
                                    от вашето езиково пътешествие. С нея ще имате достъп до уникални възможности и
                                    инструменти,
                                    които ще направят ученето по-лесно, по-ефективно и по-забавно. Нейната задача е да
                                    ви помага в
                                    реално време с:</p>
                            </div>
                        </div>
                    </div>
                    <div class="right-content1">
                        <!-- img -->
                        <div class="right-img">
                            <img src="img/Sevi/Sevi - XL.png" style="margin-bottom: 55px;height: auto;width: auto;">
                        </div>
                    </div>
                    <ul class="unordered-list mt-20 mb-40">
                        <li><strong>Отговори на въпроси:</strong> Не е нужно да чакате, за да разберете нещо.
                            <strong>Севи</strong> ще ви даде точни и ясни отговори на въпросите ви относно граматика,
                            лексика или всяка друга част от езика, който изучавате.
                        </li>
                        <li><strong>Решаване на упражнения:</strong> Севи предлага персонализирани задачи и упражнения,
                            които ще ви помогнат да практикувате и усъвършенствате уменията си.
                        </li>
                        <li><strong>Персонализирани съвети:</strong> Въз основа на напредъка ви, <strong>Севи</strong>
                            ще ви
                            дава препоръки, как да подобрите слабите си места и да се фокусирате върху най-важните
                            аспекти
                            от ученето.
                        </li>
                        <li><strong>Тестове за самоконтрол:</strong> За да проследите напредъка си, можете да правите
                            тестове, които ще ви помогнат да се уверите, че сте разбрали добре материала.
                        </li>
                        <li><strong>Интерактивни диалози:</strong> Чрез симулации на разговори с <strong>Севи</strong>,
                            можете да практикувате ежедневни ситуации на различни езици, като така подобрявате уменията
                            си
                            за говорене и разбиране на устна реч.
                        </li>
                        <li><strong>Персонализиран план за учене:</strong> <strong>Севи</strong> ще създаде план за
                            учене,
                            който ще отговори на вашите цели и ритъм. Ще имате ясна пътека за постигане на успех.
                        </li>
                        <li><strong>Неограничени съобщения:</strong> Чрез неограниченото си съобщение с
                            <strong>Севи</strong>, можете да задавате въпроси, да проверявате отговорите си и да
                            практикувате без ограничения.
                        </li>
                    </ul>

                    <p><strong>Севи</strong> е винаги на разположение, независимо дали сте в процес на учене през деня
                        или
                        вечер. Тя е тук, за да ви поддържа мотивирани, да ви дава обратна връзка и да ви помага в
                        ежедневните предизвикателства на ученето на нов език.</p>

                    <p>Независимо дали сте начинаещ или напреднал, <strong>Севи</strong> ще бъде до вас на всяка стъпка,
                        за
                        да ви помогне да постигнете целите си по-бързо и по-успешно. Заедно с нея ще преодолеете всяко
                        препятствие и ще направите значителен напредък в ученето на чужди езици.</p>

                    <p><strong>Запишете се за курс днес</strong> и отключете всички възможности, които
                        <strong>Севи</strong>
                        предлага. Открийте как тя може да направи процеса на учене по-лесен, по-интересен и
                        по-ефективен!
                    </p>
                    <br>
                </div>
                <div th:if="${#authorization.expression('isAuthenticated()')}">
                    <a class="btn btn-primary mt-50" href="/Sevi/chat">Чат със Севи</a>
                </div>
            </section>
        </div>
    </div>
</main>


<!-- Footer -->
<div th:replace="~{fragments/footer}"></div>

<!-- Scroll Up -->
<div id="back-top">
    <a href="#" title="Go to Top"> <i class="fas fa-level-up-alt"></i></a>
</div>

<!-- JS here -->
<script th:replace="~{fragments/script}"></script>

</body>
</html>